<div class="duo-image">
  <div class="duo-image-block">
    <img src="{{ section.settings.image_1 | image_url }}" alt="Image 1">
  </div>
  <div class="separator mobile-only"></div>
  <div class="duo-image-block">
    <img src="{{ section.settings.image_2 | image_url }}" alt="Image 2">
  </div>
</div>

<style>
.duo-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0px 0;
  background-color: #fcfcf9; /* couleur de fond */
  padding: 0px 15px; /* un peu d'air autour des images */
  border-radius: 8px; /* optionnel pour adoucir les bords */
  align-items: flex-start;
}

.separator {
  width: 1px;
  background-color: #000;
  align-self: stretch;
  position: relative;
  z-index: 2;
}


.duo-image-block {
  flex: 1 1 300px;
  max-width: 500px;
}

.duo-image-block img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .duo-image {
    flex-direction: column;
    gap: 4px; /* réduit l’espace entre les deux images sur mobile */
  }

  .separator {
    width: 100%;
    height: 1px;
  }
}
</style>

{% schema %}
{
  "name": "Duo Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image de gauche"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image de droite"
    }
  ],
  "presets": [
    {
      "name": "Duo d'images",
      "category": "Custom"
    }
  ]
}
{% endschema %}
